<div class="container">
    <div class="top-spacing text-center">
        <h2>Rally Sign Up</h2>
    </div>

    <form action="post">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" name="firstName" [(ngModel)]="signupModel.firstName" class="form-control" id="firstName">
        </div>

        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" [(ngModel)]="signupModel.lastName" class="form-control" id="lastName">
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" name="email" [(ngModel)]="signupModel.email" class="form-control" id="email">
        </div>

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" [(ngModel)]="signupModel.username" class="form-control" id="username">
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" [(ngModel)]="signupModel.password" class="form-control" id="password">
        </div>
        
        <button type="submit" (click)="onSubmit()" class="btn btn-block btn-danger">Submit</button>
    </form>
</div>