/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@font-face {
    font-family: DMSans-Regular;
    src: url('assets/fonts/DMSans-Regular.ttf');
}

@font-face {
    font-family: DMSans-Bold;
    src: url('assets/fonts/DMSans-Bold.ttf');
}